name: CI

on:
  push:
    branches: [main]
    tags:
      - "v*"
  pull_request:
    branches: [main]
  schedule:
    - cron: "0 7 * * *"
  workflow_dispatch:

permissions:
  contents: read

jobs:
  build:
    permissions:
      contents: read
      actions: write
      security-events: write
    strategy:
      fail-fast: false
      matrix:
        runner-os: [windows-latest, ubuntu-latest, macos-latest]
        language: [csharp, actions]

    runs-on: ${{ matrix.runner-os }}

    steps:
      - uses: actions/checkout@v6
        with:
          persist-credentials: false

      - uses: extractions/setup-just@e33e0265a09d6d736e2ee1e0eb685ef1de4669ff

      - name: Initialize CodeQL
        if: matrix.runner-os == 'ubuntu-latest'
        uses: github/codeql-action/init@v4
        with:
          languages: ${{ matrix.language }}
          queries: +security-and-quality
          config-file: ./.github/codeql/codeql-config.yml

      - name: Setup .NET
        uses: actions/setup-dotnet@v5
        with:
          global-json-file: global.json

      - name: dotnet format
        run: just format-check

      - name: Restore dependencies
        run: just restore

      - name: Build
        run: just build

      - name: Unit Test
        run: just test-coverage

      - name: Copy Coverage To Predictable Location
        if: always() && matrix.runner-os == 'ubuntu-latest' && matrix.language == 'csharp'
        run: cp coverage/**/coverage.cobertura.xml coverage/coverage.cobertura.xml

      - name: Code Coverage Summary Report
        uses: irongut/CodeCoverageSummary@51cc3a756ddcd398d447c044c02cb6aa83fdae95
        if: always() && matrix.runner-os == 'ubuntu-latest' && matrix.language == 'csharp'
        with:
          filename: coverage/coverage.cobertura.xml
          badge: true
          format: "markdown"
          output: "both"

      - name: Upload Unit Test Results
        if: always() && matrix.runner-os == 'ubuntu-latest' && matrix.language == 'csharp'
        uses: actions/upload-artifact@v6
        with:
          name: Unit Test Results
          path: src/OctoshiftCLI.Tests/unit-tests.xml

      - name: Upload Code Coverage Report
        if: always() && matrix.runner-os == 'ubuntu-latest' && matrix.language == 'csharp'
        uses: actions/upload-artifact@v6
        with:
          name: Code Coverage Report
          path: code-coverage-results.md

      - name: Perform CodeQL Analysis
        uses: github/codeql-action/analyze@v4
        if: matrix.runner-os == 'ubuntu-latest'

  build-for-e2e-test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
        with:
          persist-credentials: false
